.title-page {
    display: block;
    float:left;
    width:100%;
    font-size:3em;
}

.title-page-span {
    display: block;
    float:left;
    padding-top:7.5px;
}

.title-page-icon {
    display: block;
    float: left;
    width:60px;
}

.loading-page {
  display: none;
  position: fixed;
  top:50%;
  left:calc(50% - 25px);
  transform: translate(-50%, -50%)
}

.loading-page.is--visible {
  display: block;
}

.is--hidden {
  display: none !important;
}

@media all and (max-width:480px) {
  .title-page { font-size: 1.8em; padding-left:15px;}
  .title-page-span {position:relative; top:12px;}
}

