.timer {
    display: block;
    float:right;
    padding:15px;
    border-radius: 3px;
    background:#fff;
    position: relative;
}
.timer-icon {
    font-size:2em;
    margin-right:5px;
}
.timer-counter {
    position: relative;
    top:-5px;
}

.is--finish {
    color:#f00
}