

<div class="modal" [ngClass]="{'is--visible': isVisible}">
  <div class="modal-title">Details</div>
  <i class="fa fa-close modal-icon" (click)="hideModal()"></i>
  <div class="modal-img">
    <img src="../../../assets/images/head-dart-vader.png">
  </div>
  <div class="modal-info">
    <ul class="modal-list-info">
      <li class="modal-list-item"><span class="modal-bold">Specie: </span> {{species}}</li>
      <li class="modal-list-item"><span class="modal-bold">Height: </span> {{height}}</li>
      <li class="modal-list-item"><span class="modal-bold">Hair: </span> {{hairColor}}</li>
      <li class="modal-list-item"><span class="modal-bold">Planet: </span> {{planet}}</li>
    </ul>
  </div>
  <p class="modal-detail"><span class="modal-bold">Movies: </span> {{films}}</p>
  <p class="modal-detail"><span class="modal-bold">Vehicles: </span>{{vehicles}}</p>
</div>

<div class="modal-shape"></div>
