

<div class="modal">
  <div class="modal-title">Details</div>
  <i class="fa fa-close modal-icon"></i>
  <div class="modal-img">
    <img src="../../../assets/images/head-dart-vader.png">
  </div>
  <div class="modal-info">
    <ul class="modal-list-info">
      <li class="modal-list-item"><span class="modal-bold">Specie: </span> Human</li>
      <li class="modal-list-item"><span class="modal-bold">Height: </span> 172</li>
      <li class="modal-list-item"><span class="modal-bold">Hair: </span> Blond</li>
      <li class="modal-list-item"><span class="modal-bold">Planet: </span> Tatooine</li>
    </ul>
  </div>
  <p class="modal-detail"><span class="modal-bold">Movies: </span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam unde earum tempora excepturi illo, aperiam eaque pariatur adipisci similique quia?</p>
  <p class="modal-detail"><span class="modal-bold">Vehicles: </span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, omnis?</p>
</div>

<div class="modal-shape"></div>