<div class="modal" [ngClass]="{'is--visible': status}">
  <div class="modal-title">Quiz Finalizado!</div>
  <i class="fa fa-close modal-icon" (click)="closeModal()"></i>

  <div class="modal-score">{{score}} <span class="modal-text">pontos</span></div>

  <div class="modal-form-title">Preencha o form abaixo para salvar sua pontuação:</div>

  <div class="modal-form">
    <label  class="modal-form-label">
      <input
      type="text"
      class="modal-form-input"
      [(ngModel)]="name"
      (blur)="isValidName()"
      [ngClass]="{'is--invalid': !isNameValid}">
      <span class="modal-form-span" [ngClass]="{'has--value': name}">Nome</span>
    </label>
    <label  class="modal-form-label">
        <input
        type="email"
        class="modal-form-input"
        [(ngModel)]="email"
        (blur)="isValidEmail()"
        [ngClass]="{'is--invalid': !isEmailValid}">
        <span class="modal-form-span" [ngClass]="{'has--value': email}">E-mail</span>
      </label>

      <button class="modal-form-button" (click)="save()"><i class="fa fa-save"></i> Salvar</button>

  </div>

</div>

<div class="modal-shape"></div>
