<div class="modal">
  <div class="modal-title">Quiz Finalizado!</div>
  <i class="fa fa-close modal-icon"></i>

  <div class="modal-score">35 <span class="modal-text">pontos</span></div>

  <div class="modal-form-title">Preencha o form abaixo para salvar sua pontuação:</div>

  <form class="modal-form">
    <label  class="modal-form-label">
      <input type="text" class="modal-form-input">
      <span class="modal-form-span">Nome</span>
    </label>
    <label  class="modal-form-label">
        <input type="email" class="modal-form-input">
        <span class="modal-form-span">E-mail</span>
      </label>

      <button type="submit" class="modal-form-button"><i class="fa fa-save"></i> Salvar</button>

  </form>

</div>

<div class="modal-shape"></div>